.main {
    height: 100vh;
    background: url(../../assets/fundo-sistema.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 25px 0;
}

.logoHeader {
    height: 60px;
    width: auto;
    padding-right: 20px;
}

.textContainer {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    border-left: solid 2px;
    padding-left: 20px;
}

.cardContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 90%;
    border-radius: 10px;
    background-color: rgba(153, 187, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px #002776
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #002776;
    text-align: center;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: #002776; 
}

#label-login {
    width: 100%;
    margin-bottom: 5px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    padding: 0.4em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: solid 1px #002776;
}

#input-login {
    display: block;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: solid 1px #002776;
    border-radius: 8px;
}

#button-login {
    margin-top: 20px;
    width: 50%;
    background-color: green;
    color: white;
    text-align: center;
    height: 35px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#button-login:active {
    color: white;
    background-color: #002776;
    border: solid white;
}

#error {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 90%;
}