* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  scrollbar-width: 8px;
  scrollbar-color: #99bbff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #002776;
  border-radius: 20px;
}

body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup {
  border-radius: 10px !important;
  border: 1px solid #002776 !important;
  background-color: rgb(153, 187, 255) !important;
}

.confirmButton {
  background-color: green !important;
  border: 1px solid #002776 !important;
  border-radius: 8px !important;
  font-weight: bold !important;
  color: white !important;
  width: 150px !important;
  text-align: center !important;
  height: 35px !important;
  font-size: 20px !important;
  cursor: pointer !important;
  outline: none !important; 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: none !important;
}

.confirmButton:hover {
  transform: scale(1.02) !important;
}